body {
    font-family: sans-serif;
}

article img{
    width: 250px;
    height: 250px;
    
}
article {
    border: 5px solid #123EAB;
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
}
